<div class="container">
    <div class="user-info-container">
        <div class="user-info-container-row">
            <mat-form-field class="input-field" appearance="outline" matTooltip="First name">
                <input matInput type="text" placeholder="First name" enable [(ngModel)]="user.name" />
            </mat-form-field>

            <mat-form-field class="input-field" appearance="outline" matTooltip="Last name">
                <input matInput type="text" placeholder="Last name" enable [(ngModel)]="user.surname" />
            </mat-form-field>

            <mat-form-field class="input-field" appearance="outline" matTooltip="Username">
                <input matInput type="text" placeholder="Username" disabled [(ngModel)]="user.username" />
            </mat-form-field>

        </div>

        <div class="user-info-container-row">
            <mat-form-field class="input-field" appearance="outline" matTooltip="Country">
                <input matInput type="text" placeholder="Country" enable [(ngModel)]="user.country" />
            </mat-form-field>

            <mat-form-field class="input-field" appearance="outline" matTooltip="City">
                <input matInput type="text" placeholder="City" enable [(ngModel)]="user.city" />
            </mat-form-field>

            <mat-form-field class="input-field" appearance="outline" matTooltip="Address">
                <input matInput type="text" placeholder="Address" enable [(ngModel)]="user.address" />
            </mat-form-field>
        </div>

        <div class="user-info-container-row">
            <mat-form-field class="input-field" appearance="outline" matTooltip="Phone number">
                <input matInput type="text" placeholder="Phone number" enable [(ngModel)]="user.number" />
            </mat-form-field>

            <mat-form-field class="input-field" appearance="outline" matTooltip="Email">
                <input matInput type="text" placeholder="Username" disabled [(ngModel)]="user.email" />
            </mat-form-field>
        </div>

        <div class="user-info-container-row">
            <button mat-raised-button style="right:0.5em; background-color: darkcyan;" matTooltip="Cancel editing" (click)="onClickCancel()">Cancel</button>
            <button mat-raised-button style="background-color: darkcyan;" matTooltip="Save profile changes" (click)="onClickSave()">Save</button>
        </div>

    </div>
</div>