<div class="pozadina">
    <div class="container">
        <h4 class="d-flex p-2 justify-content-center"></h4>
        <div class="list-group" style="padding:20px;">
            <div style="margin-bottom:20px;">
                <p>
                    <button mat-raised-button type="button"  class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;"><a style="color:black" [routerLink]="['editclient']">Edit profile</a></button>
                </p>
            </div>
            <div style="margin-bottom:20px;">
                <p>
                    <button mat-raised-button type="button"  class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;"><a style="color:black" [routerLink]="['listofboats']">Boats</a></button>
                </p>
            </div>
            <div style="margin-bottom:20px;">
                <p>
                    <button mat-raised-button type="button"  class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;"><a style="color:black" [routerLink]="['editclient']">Instructors</a></button>
                </p>
            </div>
            <div style="margin-bottom:20px;">
                <p>
                    <button mat-raised-button type="button"  class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;"><a style="color:black" [routerLink]="['editclient']">Cabins</a></button>
                </p>
            </div>
            <div style="margin-bottom:20px;">
                <p>
                    <button mat-raised-button type="button"  class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;">Make reservation</button>
                </p>
            </div>
            <div style="margin-bottom:20px;">
                <p>
                    <button mat-raised-button type="button"  class="btn-lg" style="color:black; background-color: darkcyan; width: 30em;"><a style="color:black" [routerLink]="['cancelrequest']">Delete account</a></button>
                </p>
            </div>
            </div>
    </div>
</div>